{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/tmp.js' %}"></script>

</head>
<body>
    <div id="list_msg">
    </div>
    <from>
        {% csrf_token %}
        <input type="text" name="message" id="message" placeholder="Répondre">
        <button type="button" value="Envoyer" id="msg_submit">Envoyer</button>
    </from>
</body>
</html>