/*header style*/
header {
   text-align: right; 
   padding: 10px;
   background-color:#808080;
   color:white;
}
body {
	margin:0;
	padding:0;
}
.Menu {
	position:absolute;
	height:620px;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   	align-content: center;
    align-items: center;
    justify-content: space-around;
	width:300px;
	background-color: #808080;
	color:white;
	}

.Filtre {
	top:0px;
}
.ticket {
    border: 5px double #000000;
    background: #808080;
    width: calc(80% - 20px);
    margin: 5px;
    padding: 5px;
	border-radius:5px;
}
.NouveauTicket {

}
.corps {
    position: relative;
    top: 0px;
    left: 300px;
    height: 600px;
    background-color: white;
    width: calc(100% - 320px);
    padding: 10px;
}

.flex-row-sbw{
	display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: space-between;
    	align-content: center;
   	align-items: center;
}

.Date{
}
.createur{
}
.Description{
	text-align : center;
}
.ListeTicket{
	display:flex;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
	width : 100%;
	overflow-y:auto;
	height:80%;
}
.Elementticket{
	margin : 5px;
}

.Nouveauticket{
	display:flex;
	justify-content:center;
	width: 100%;
	padding:5px;
}

.Nouveauticket button{
	width:80%;
	height:2.5rem;
	font-size:1.5rem;
	background-color:#dcdcdc;
	border-radius:5px;
}

	
	
